@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #f4f4f4;
  --foreground: #2a2f4e;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #f4f4f4;
    --foreground: #2a2f4e;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
